.project__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 2rem 0;
}
.first{
    position: relative;
    background-color: #ff00001d;
    border-radius: 16px;
}
/* style a tag that says new on the top right corner */
.new-tag{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff0000;
    border: 2px solid black;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 10;
    transform: rotate(-25deg);
}
.project__container h2{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}
.project__container p{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 300;
    text-align: center;
}
.project__container a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project__container a img{
    width: 80%;
    margin-bottom: 1.5rem;
    filter:
        grayscale(0.75)
        drop-shadow( 10px 10px 0 rgba(0,0,0,1));
    transition: all 0.3s ease-in-out;
}
.project__container:hover img{
    filter: grayscale(0);
    filter:
        grayscale(0)
        drop-shadow( 5px 5px 0 rgba(0,0,0,1));
    transition: all 0.3s ease-in-out;
}
.button.project{
    padding: 1rem 3rem;
    background-color: white;
    z-index: 10;
}
@media screen and (max-width: 768px){
    .project__container h2{
        font-size: 1.2rem;
    }
    .project__container p{
        font-size: 1rem;
    }
    .project__container a img{
        width: 60%;
    }
    
}