.footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-quaternary);
    padding: 20px;
    color: #fff;
    font-family: var(--font-primary);
    font-size: 1.2rem;
}
.footer__container a{
    color: #fff;
    text-decoration: none;
}
.footer__container .socials a{
    margin: 0 20px;
}